@font-face {
  font-family: 'myriadpro-regular';
  src: url("../fonts/myriadpro/MyriadPro-Regular.ttf") format('truetype'),
       url("../fonts/myriadpro/MyriadPro-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat/Montserrat-Regular.ttf") format('truetype'),
       url("../fonts/montserrat/Montserrat-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat/Montserrat-Bold.ttf") format('truetype'),
       url("../fonts/montserrat/Montserrat-Bold.otf") format('opentype');
}